@font-face {
    font-family: 'Mi Sans (Xiaomi)';
    src: local('Mi Sans (Xiaomi) Regular'), local('Mi-Sans-(Xiaomi)-Regular'),
        url('/ttf/MiSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* { 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mi Sans (Xiaomi)';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav*/

body {
    background-color: #f7f7f7;
    background-image: url( /img/Picsart_24-01-25_12-22-58-108.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    background: #2e29299e;
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 10;
    width: 100%;
    

}

header h1 {
    font-family: Mi Sans (Xiaomi) ;
    color: #fff;
    background-color: #333;
    border-radius: 15px;
    padding: 6px;
    font-size: 1.5rem;
    
}

nav {
    border-radius: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #333;
    text-align: center;
    padding: 12px;
    border-radius: 15px;
    font-size: 1rem;
}


/*Section general config*/

#inicio {
    width: 80%;
    background-color: transparent;
    margin: auto;
    overflow: hidden;
}

.pres-redmi {
    font-size: 1.2rem;
    text-align: center;
    background-color: transparent;
}



.space {
    width: 20rem;
    height: 20rem;
    background-color: transparent;
}

.pres-img {
    width: 50%;
    height: auto;
    right: -1rem;
    top: -25px;
    position: relative;
    z-index: -1;
    float: right;
    background-color: transparent;
    filter: drop-shadow(5px 5px 5px #333);
}

.pres-img img {
    width: 50rem;
    height: auto;
    transform: rotate(160deg);
}

.cont-pres {
    background-color: transparent;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.colab {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 5px;
    
}

.colab-img {
    height: 2.2rem;
}

/*pantalla*/

.pantalla {
    color: #fff;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pantalla h2 {
    font-size: 1.5rem;
    text-align: center;
}

.pantalla p {
    font-size: 1rem;
    width: 80%;
    text-align: center;
}

.pantalla div {
    display: flex;
    justify-content: center;

}

.pantalla img {
    height: 13rem;
    margin: auto;

}


/* gallery config*/



.gallery-int {
    width: 87%;
    max-width: 1200px;
    margin: auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(5rem, auto);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 5px;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    width: fit-content;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.gallery img {
    width: 16vw;
    max-width: 300px;
    height: 11rem;
    object-fit: cover;
}

.gallery-int section {
    background: #2e29299e;
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    list-style: none;
}


/*camera section*/

.camara {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.camara ul {
    text-align:left;
    width: 90%;
    margin: auto;
    list-style: initial;
    margin-top: 10px;
}

.camara li {
    font-size: 1rem;
}

.camara h2 {
    font-size: 1.5rem;
}

/*rendimeinto*/

.rendimiento  img {
    width: 10rem;
    filter: drop-shadow(5px 5px 5px #333);
}

.rendimiento {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.rendimiento h2 {
    font-size: 1.5rem;
}

/*caracteristicas*/

.caracteristicas ul {
    list-style: none;
}

.caracteristicas {
    padding: 2vh;
}

.caracteristicas h2 {
    font-size: 1.5rem;
    text-align: center;
}

/*footer*/

footer {
    background: #2e29299e;
    backdrop-filter: blur(5px);
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}


/*Juegos*/

.juegos {
    background: #2e29299e;
    backdrop-filter: blur(5px);
    color: #fff;
    margin-top: 6vh;
    margin-bottom: 8wvh;
    display: flex;
    justify-content: center;
}

.games-section {
    display: flex;
    flex-direction: column;
}

.juegos div img {
    border-radius: 23%;
    width: 4rem;
}

.juegos div div div {
    display: flex;
    align-items: center;
    
}

.games-p p {
    margin-bottom: 5rem;
}

/*gcam*/

.gcam div{
    background: #2e29299e;
    backdrop-filter: blur(5px);
    color: #fff;
}

/*os*/

.os div{
    background: #2e29299e;
    backdrop-filter: blur(5px);
    color: #fff;
}



/*responsive desing*/

@media only screen and (max-width: 600px) {   
    nav a {
    display: block;
    font-size: 1vh;
    }
    header h1 {
        font-family: Mi Sans (Xiaomi) ;
        color: #fff;
        background-color: #333;
        border-radius: 15px;
        padding: 6px;
        font-size: 1.2rem;
        
    }

    nav a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        background-color: #333;
        text-align: center;
        border-radius: 15px;
        font-size: 0.7rem;
        margin-top: 0.5rem;
    }

    header {
        background: #2e29299e;
        color: #fff;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.201);
        color: #fff;
        padding: 5px;
        display: flex;
        position: relative;
        z-index: 10;
        width: 100%;
        margin: auto;
        flex-direction:column;
    
    }

    nav {
        border-radius: 15px;
        display: flex;
    }
}

@media only screen and (max-width: 870px) {
 

    .gallery img {
        max-width: 100%;
    }

    .gallery-int {
        width: 88%;
        max-width: 660px;
        margin: auto;
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(5rem, auto);
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    .gallery img {
        width: 10rem;
        max-width: 300px;
        height: 10rem;
        object-fit: cover;
    }

    .pantalla img {
        height: 10rem;
        margin: auto;
    
    }

   
    #inicio {
        width: 100%;
        background-color: transparent;
        margin: auto;
        overflow: hidden;
    }
}